initialize() {

	defineCfgParam("MAX_GEN", 100000);
	defineCfgParam("GENOME_LENGTH", 1e7); // 10Mb genome
	
	defineConstant("DOMINANCE", 0.5);
	defineConstant("SELECTION", 0);
	defineConstant("SIMULATION_AREA", 1);
	defineConstant("POPULATION_SIZE", 10000);
	defineConstant("GRID_SIDE_LENGTH", SIMULATION_AREA/sqrt(POPULATION_SIZE));
	defineCfgParam("fudge_factor", 10); // expectation is 1 selfing by chance per generation, regardless of N, I think?
	
	defineConstant("MUTATION_RATE", 0); // overlay neutral mutations later
	defineConstant("RECOMB_RATE", 1e-8);
	
	initializeSLiMModelType("nonWF");
	
	initializeSLiMOptions(dimensionality="xy", periodicity="xy");
	initializeTreeSeq();

	initializeMutationType("m1", DOMINANCE, "f", SELECTION);
	
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, GENOME_LENGTH - 1);
	initializeMutationRate(MUTATION_RATE);
	initializeRecombinationRate(RECOMB_RATE);
}

function (void) defineCfgParam(string$ name, lifs value) {
    if (!exists(name))
        defineConstant(name, value);
}
reproduction() {
	potential_parents = p1.individuals;
	n_parent_pairs = POPULATION_SIZE;
	total_parent_pairs = n_parent_pairs + fudge_factor;
	num_draws = total_parent_pairs * 2;
	parents = sample(potential_parents, num_draws, replace = T); // section 4.2.3
	
	parents1 = parents[seqLen(total_parent_pairs)];
	parents2 = parents[seqLen(total_parent_pairs) + total_parent_pairs];

	selfed = (parents1 == parents2);
// 	catn("selfed pairs = " + sum(selfed));
	parents1 = parents1[!selfed];
	parents2 = parents2[!selfed];
	
		
	if (size(parents1) < n_parent_pairs) {
		catn("ERROR " + getSeed() + " " + sim.cycle);
		stop("Error - fudge factor needs to be larger");
	}
	parent_index = 0;
	for (i in 0:(sqrt(POPULATION_SIZE) - 1)) { // x axis
		for (j in 0:(sqrt(POPULATION_SIZE) - 1)) { // y axis
			current_offspring_x = runif(1, (i*GRID_SIDE_LENGTH), ((i+1)*GRID_SIDE_LENGTH));
			current_offspring_y = runif(1, (j*GRID_SIDE_LENGTH), ((j+1)*GRID_SIDE_LENGTH));
			current_offspring_pos = c(current_offspring_x, current_offspring_y);
			offspring = p1.addCrossed(parents1[parent_index], parents2[parent_index]);
			offspring.setSpatialPosition(current_offspring_pos);
			parent_index = parent_index + 1;
		}
	}
	self.active = 0; // callback only called once in a tick, see section 16.3
}
1 early() {
	// initialize population
	
	if(exists("NEUTRAL_FILE")) {
		catn("reading from file " + NEUTRAL_FILE + "...");
		sim.readFromPopulationFile(NEUTRAL_FILE);
		setSeed(rdunif(1, 0, asInteger(2^62) - 1));	
	} else {
		sim.addSubpop("p1", POPULATION_SIZE);
		p1.setSpatialBounds(c(0, 0, sqrt(SIMULATION_AREA), sqrt(SIMULATION_AREA)));
		pos = c();
	
		for (i in 0:(sqrt(POPULATION_SIZE) - 1)) { // x axis
			for (j in 0:(sqrt(POPULATION_SIZE) - 1)) { // y axis
				pos = c(pos, runif(1, (i*GRID_SIDE_LENGTH), ((i+1)*GRID_SIDE_LENGTH)));
				pos = c(pos, runif(1, (j*GRID_SIDE_LENGTH), ((j+1)*GRID_SIDE_LENGTH)));
			}	
		}
		p1.individuals.setSpatialPosition(pos);
	}
	
	community.rescheduleScriptBlock(s1, MAX_GEN, MAX_GEN);
}
2: early() {
	// kill parents
	inds = p1.individuals;
	sim.killIndividuals(inds[inds.age > 0]);
}

2: late() {
	DIVISOR = asInteger(MAX_GEN/5);
    if(community.tick % DIVISOR == 0) {
    	catn("saving .trees file... " + community.tick);
		sim.treeSeqOutput(OUT_PREFIX + "_" + community.tick + ".trees");
	}
}

s1 100000000 late() {
	sim.simulationFinished();
}
